@font-face {
    src: url(../font/OpenSans-Regular.ttf);
    font-family: 'OpenSans-Regular';
}

@font-face {
    src: url(../font/OpenSans-Bold.ttf);
    font-family: 'OpenSans-Bold';
}

@font-face {
    src: url(../font/OpenSans-ExtraBold.ttf);
    font-family: 'OpenSans-ExtraBold';
}

@font-face {
    src: url(../font/OpenSans-SemiBold.ttf);
    font-family: 'OpenSans-SemiBold';
}

@font-face {
    src: url(../font/OpenSans-Italic.ttf);
    font-family: 'OpenSans-Italic';
}

body {
    margin: 0;
    height: 4000px;
}

/* ------------------Start Header------------------ */

.head_main {
    display: flex;
    max-width: 1579px;
    /* border: 3px solid red; */
    padding-left: 10vw;
    padding-top: 30px;
    padding-right: 10vw;
    flex-direction: column;
    /* justify-content: center; */
    padding-bottom: 120px;
    background-color: #F6F2F2;
    /* height: 609px; */
}



.head_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 3px solid red; */
    margin-bottom: 12px;
    background-color: #000000;
}



.head_links {
    display: flex;
    height: 89px;
    width: 90px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    color: #E0E0E0;
    text-decoration: none;
    font-size: 14px;
    font-family: 'OpenSans-SemiBold', sans-serif;
    text-transform: uppercase;
    position: relative;
    left: -30px;
}

.head_links:hover {
    background-color: #FF3F40;
    
}

.container_1 {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
}

.head_text {
    /* max-width: 618px; */
    /* border: 3px solid green; */
    flex: 0 1 200px;
    margin-top: 5vw;
}

.head_text h1 {
    text-transform: uppercase;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 65px;
    line-height: 80px;
    /* letter-spacing: 100px; */
    margin-top: 1px;
    letter-spacing: 3px;
    margin-bottom: 28px;
    /* max-width: 618px; */
}

.head_text p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    line-height: 28px;
    max-width: 544px;
}

.head_text a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF2D2D;
    width: 260px;
    height: 58px;
    margin-top: 4vw;
    font-family: 'OpenSans-SemiBold', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;   
}



.head_image {
    margin-top: 110px;
    /* margin-top: 5vw; */
    max-width: 591px;
    flex: 1 1 500px;
    
}

.head_image > a > .image_in_head {
    width: 100%;
}

/* ------------------End Header------------------ */


/* ------------------Start Service------------------ */


.main_background {
    display: flex;
    max-width: 1579px;
    /* border: 3px solid red; */
    padding-left: 10vw;
    padding-top: 110px;
    padding-right: 10vw;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
}

.section_provide {
    display: flex;
    justify-content: space-between;    
    /* flex-wrap: wrap; */
    /* border: 3px solid red; */
    padding-bottom: 20px;
    /* max-width: 1600px; */
    /* text-align: center; */
}


.left_side {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    /* max-width: 1500px; */
}

.left_side h1 {
    text-transform: uppercase;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 44px;
    line-height: 55px;
    margin-top: 1px;
    margin-bottom: ;
    letter-spacing: 1.5px;
    /* max-width: 618px; */
}

.left_side p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    line-height: 32px;
    max-width: 544px;
}

.left_side a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF2D2D;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF0000;
    width: 244px;
    height: 55px;
    margin-top: 2.5vw;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    
}

.right_side {
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid red; */
    justify-content: flex-end;
    font-family: 'OpenSans-Regular', sans-serif;
}

h3 {
    font-weight: 600;
    font-size: 24px;
}



.right_side .left_up {
    width: 301px;
    height: 209;    
    margin-right: 1vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.right_side .right_up {
    width: 301px;
    height: 209;    
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.right_side .left_down {
    width: 301px;
    height: 209;    
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
}

.right_side .right_down {
    width: 301px;
    height: 209;    
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
}

.left_up p {
    font-size: 16px;
    line-height: 28px;
}

.right_up p {
    font-size: 16px;
    line-height: 28px;
}

.left_down p {
    font-size: 16px;
    line-height: 28px;
}

.right_down p {
    font-size: 16px;
    line-height: 28px;
}


.main_line hr{
    /* flex-direction: row; */
    width: 100%;
    /* margin-bottom: 500px; */
    /* position: absolute; */
    left: 0px;
    top: 10px;
    margin-top: 75px;
}


/* ------------------End Service------------------ */

/* ------------------Start Feature Product-------------------- */

.feature_products {

}

.feature_head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 3px solid red; */
    width: 100%;
    /* text-align: center; */
    margin-top: 72px;
    
}

.feature_head h1 {
    display: flex;
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 48px;
    line-height: 55px;
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    max-height: 100%;
    text-align: center;
    position: relative;
    right: -15px;
    margin-bottom: 0px;
}

.feature_head p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    line-height: 28px;
    /* max-width: 1200px; */
    text-align: center;
    
}

.line_products {
    margin-top: 46px;
    margin-bottom: 93px;
    background: #FF2D2D;
    width: 144px;
    height: 3px;
    border: 0px;
    position: relative;
    left: 15px;
}

.filter_inproducts {
    /* display: flex; */
    text-align: center;
    /* justify-content: space-evenly; */
    position: relative;
    left: 30px;
    margin-bottom: 160px;
}

.filter_inproducts a {
    font-family: 'OpenSans-SemiBold', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 25px;
    margin-left: 1.6vw;
    margin-right: 1.6vw;    
}

.filter_inproducts a:hover {
    color: #FF2D2D;
}

.images_inproducts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 200px;
    /* flex-direction: column; */
    
}

.images_inproducts img {
    flex: 1 1 23%;
	min-width: 250px;
	max-width: 330px;
	
    margin: 0.5vw;
}

/* ------------------End Feature Product-------------------- */

/* ------------------Start Team------------------ */

.team {
    display: flex;
    flex-direction: column;
    margin-bottom: 113px;
}

.top_side {}

.top_side h1 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 49px;
    text-transform: uppercase;
    position: relative;
    right: 15px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.top_side p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    line-height: 31px;
    max-width: 479px;
    margin-bottom: 15px;
}

.top_side hr{
    margin-top: 39px;
    margin-bottom: 45px;
    background: #FF2D2D;
    width: 134px;
    height: 2px;
    border: 0px;
    margin-left: 0px;
}

.below_side {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.left_side_meet {
    margin-right: 5vw;
}

.mark h3 {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 18px;

}

.mark p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    line-height: 30px;
    max-width: 663px;
    margin-top: 10px;
}

.social_links {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    padding-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.social_links li a {
    font-family: 'OpenSans-Italic' , sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    
}

li {
    list-style: none;    
}

.social_links li a:hover {
    text-decoration: underline;
}

.photo_staff {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* justify-content: space-between; */
    max-width: 950px;
    
}

.hover_img {
    position: relative;
    /* display: flex;
    justify-content: space-between; */
    margin-right: 10px;
}

.hover_img img {
    
}

.hover_img span {
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding-top: 12px;
    width: 210px;
    background: #000000;
    opacity: 0.5;
    color: #FFFFFF;
    margin-bottom: 3px;
    padding-bottom: 0px;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 20px;
    height: 42px;
    text-transform: uppercase;
}





/* ------------------End Team------------------ */

/* -------------------Start Subscribe------------ */

.background_subscribe {
    background-color: #3f3f3f;
    height: 568px;
    position: relative;
    left: 0px;
    width: 100%;
    margin-bottom: 73px;
}


.subscribe {
    display: flex;
    flex-direction: column;
    
    margin-left: 10vw;
    margin-top: 127px;
    width: 100%;

}

.top_side_insubscribe {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* justify-content: flex-start; */
    position: relative;
    right: 90px;
}

.top_side_insubscribe h1 {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    position: relative;
    right: 88px;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.top_side_insubscribe p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 7px;
    position: relative;
    right: 87px;
    
}



 .bottom_side_insubscribe {
    display: flex;    
    justify-content: center; 
    width: 100%
}
.first_input {
    display: flex;
    align-items: flex-end;
    justify-content: center; 
    /* align-items: stretch; */
    /* align-content: stretch; */
    position: relative;
    right: 178px;
    top: 30px;
    width: 900px;
}

.input_email_insubscribe {
    flex: 1 1 auto;
    max-width: 540px;
    height: 82px;
    border-radius: 5px;
    padding-left: 40px;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    border: none;
    margin-right: 20px;
}

.button_insubscribe {
    flex: 1 1 auto;
    max-width: 238px;
    height: 85px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: #FF2D2D;
    /* border: 3px solid #FF2D2D; */
    /* margin-left: 20px; */
    margin-top: 20px;
}


/* -------------------End Subscribe------------ */

/* -------------------Start Touch---------------- */

.touch {
    display: flex;
    /* margin-top: 755px; */
    flex-direction: column;
    /* position: relative; */
    right: 2px;
    margin-bottom: 70px;
    /* width: 1390px; */
}

.top_side_touch {
    width: 100%;
}


.top_side_touch h1 {
    font-family: 'OpenSans-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.top_side_touch p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    max-width: 800px;
    line-height: 32px;
    letter-spacing: 0.2px;
    margin-bottom: 59px;
}

.line_in_touch {
    background: #FF2D2D;
    width: 144px;
    height: 2px;
    border: 0px;
    margin-left: 0px;
    margin-bottom: 85px;
}

.bottom_side_touch {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.second_input {
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top_side_ininputtouch {
    /* max-width: 1050px; */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
}

.inputtouch_name {
    flex: 0 1 40%;
    /* width: 40%; */
    height: 75px;
    padding-left: 50px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 10px;
    font-family: 'OpenSans-Regular', sans-serif;
    color: black;
    font-size: 20px;
    /* margin-right: 58px; */
    margin-bottom: 51px;
}

.inputtouch_mail {
    flex: 0 1 40%;
    /* width: 40%; */
    height: 75px;
    padding-left: 50px;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 10px;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 19px;
    margin-bottom: 51px;
}

.bottom_side_ininputtouch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
    /* margin-right: 51px; */
    /* max-width: 810px; */
}

.input_bottom_ininputtouch {
    display: flex;
    max-width: 700px;
    height: 243px;
    border: none;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 18px;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 32px;
    /* margin-top: 51px; */

}

.button_bottom_ininputtouch {
    display: flex;
    
    max-width: 810px;
    height: 80px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background-color: #FF2D2D;
    border: 3px solid #FF2D2D;
    margin-top: 48px;
}

.right_side_intouch {
    font-family: 'OpenSans-Regular', sans-serif;
    color: white;
    /* display: flex; */
    position: relative;
    /* bottom: px; */
    right: 0;
    background-color: #3f3f3f;
    width: 540px;
    height: 400px;
    padding-left: 90px;
    padding-top: 129px;
    margin-left: 51px;
}

.right_side_intouch h4{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.right_side_intouch p{
    font-size: 15px;
    letter-spacing: 1px;
    width: 350px;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 25px;
}

/* .right_side_intouch */

/* -------------------End Touch---------------- */
/* ------------------Start Footer------------------ */

footer {
    background-color: #3f3f3f;
    display: flex;
    position: absolute;
    width: 100%;
    height: 123px;
    justify-content: space-around;
    align-items: center;
    /* padding-left: 10vw;
    padding-right: 10vw;*/
} 

.f_copyright {
    color: #B8B8B8;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 19px;
    letter-spacing: 0.01px;
    position: relative;
    right: 100px;
    top: 11px;
}

.links_tosocial_infooter {
    width: 242px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 107px;
    top: 15px;
}

/* ---------------------Media----------------------- */

@media screen and (max-width: 1350px) {
    .container_1 {
        display: flex;
        justify-content: space-between;    
        flex-wrap: wrap;
        justify-content: center;
        }
    }
    


@media screen and (max-width: 1290px) {
        .head_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .section_provide {
            margin-left: 5vw;
        }
        .left_side {
            text-align: center;
        }
        .left_side p {
            margin-left: 9vw;
        }
        .left_side a {
            align-items: center;
        }
    }

@media screen and (max-width: 810px) {
    .right_side {
        /* justify-content: center; */
        margin-left: 5vw;
    }
    
}

@media screen and (max-width: 1450px) {
    .inputtouch_name {
        flex: 1 1 100%;
    }
    .inputtouch_mail {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 660px) {
    .head_text h1{
        font-size: 55px;        
    }
    /* .filter_inproducts {
        
        max-width: 200px;
        text-align: center;
    } */
}


@media screen and (max-width: 600px) {
    .head_text h1{
        font-size: 50px;
    }
    .filter_inproducts a {
        flex-direction: column;
        justify-content: center;
        
    }
    

@media screen and (max-width: 550px) {
    .head_text h1{ 
        font-size: 45px;        
    }
}

@media screen and (max-width: 500px) {
    .head_text h1{        
        font-size: 40px;       
    }
}

@media screen and (max-width: 450px) {
    .head_text h1{       
        font-size: 35px;        
    }
}

@media screen and (max-width: 400px) {
    .head_text h1{        
        font-size: 30px;        
    }
}

/* ------------------------------------------------------ */

@media screen and (max-width: 1305px) {
    .left_side {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1305px) {
    .section_provide {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 800px;
    }
    /* .main_background {
        margin-left: 4vw;
    } */
    .right_side {
        display: flex;
        flex-wrap: wrap;
        /* border: 3px solid red; */
        justify-content: flex-start;
        /* max-width: 800px;*/
    }
    .right_side {
        display: flex;
        flex-wrap: wrap;
        /* border: 3px solid red; */
        justify-content: flex-start;
        /* max-width: 800px;*/
    }
}

@media screen and (max-width: 1305px) {
    .right_side {
        display: flex;
        flex-wrap: wrap;
        /* border: 3px solid red; */
        justify-content: flex-start;
        /* max-width: 800px;*/
    }
}

@media screen and (max-width: 1650px) {
    .images_inproducts img {
        max-width: 700px;
    }
}

@media screen and (max-width: 1065px) {
    .first_input {
        display: flex;

    }
}

